{% extends 'base.html' %}
{% load static %}

{% block sitio %}
    <li class="breadcrumb-item"><a href="{% url 'data:' %}">Data Sheet</a></li>
{% endblock %}

{% block content %}
{% csrf_token %}
<!-- begin row -->
<h3>Data Sheet</h3><br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">.</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body m-20">
                 <div class="row">
                     <div class="col-12 m-b-30" >
                         <div class="card cpage" style="padding: 30px;">
                              <div class="cpage-ctrl">
                                 <div class="cphead xcpage-head-0">
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="Listado de DataSheets necesario para iniciar el proceso de ruteo." data-mdl-sh="cpage-btn" data-card="cpage-0">
                                        <iconify-icon class="new-icon" icon="solar:list-arrow-down-minimalistic-bold-duotone"></iconify-icon>
                                        <span class="new-text">Lista</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="B" data-mdl-sh="cpage-btn" data-card="cpage-1">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">B</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="C" data-mdl-sh="cpage-btn" data-card="cpage-2">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">C</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="D" data-mdl-sh="cpage-btn" data-card="cpage-3">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">D</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="E" data-mdl-sh="cpage-btn" data-card="cpage-4">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">E</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="F" data-mdl-sh="cpage-btn" data-card="cpage-5">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">F</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="G" data-mdl-sh="cpage-btn" data-card="cpage-6">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">G</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="H" data-mdl-sh="cpage-btn" data-card="cpage-7">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">H</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="I" data-mdl-sh="cpage-btn" data-card="cpage-8">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">I</span>
                                     </a>
                                     <a class="btn btn-bluehard m-r-4 m-b-5" data-mdl-name="J" data-mdl-sh="cpage-btn" data-card="cpage-9">
                                        <iconify-icon class="new-icon" icon="solar:cursor-bold-duotone"></iconify-icon>
                                        <span class="new-text">J</span>
                                     </a>
                                 </div>
                                 <div class="cpbody xcpage-body-0"></div>
                             </div>
                             <div class="cpage-card cpage-0">
                                 <div class="phead cpage-head-0">A1</div>
                                 <div class="pbody cpage-body-0">A2</div>
                             </div>
                             <div class="cpage-card cpage-1">
                                 <div class="phead cpage-head-1">B1</div>
                                 <div class="pbody cpage-body-1">B2</div>
                             </div>
                             <div class="cpage-card cpage-2">
                                 <div class="phead cpage-head-2">C1</div>
                                 <div class="pbody cpage-body-2">C2</div>
                             </div>
                             <div class="cpage-card cpage-3">
                                 <div class="phead cpage-head-3">D1</div>
                                 <div class="pbody cpage-body-3">D2</div>
                             </div>
                             <div class="cpage-card cpage-4">
                                 <div class="phead cpage-head-4">E1</div>
                                 <div class="pbody cpage-body-4">E2</div>
                             </div>
                             <div class="cpage-card cpage-5">
                                 <div class="phead cpage-head-5">F1</div>
                                 <div class="pbody cpage-body-5">F2</div>
                             </div>
                             <div class="cpage-card cpage-6">
                                 <div class="phead cpage-head-6">G1</div>
                                 <div class="pbody cpage-body-6">G2</div>
                             </div>
                             <div class="cpage-card cpage-7">
                                 <div class="phead cpage-head-7">H1</div>
                                 <div class="pbody cpage-body-7">H1</div>
                             </div>
                             <div class="cpage-card cpage-8">
                                 <div class="phead cpage-head-8">I1</div>
                                 <div class="pbody cpage-body-8">I2</div>
                             </div>
                             <div class="cpage-card cpage-9">
                                 <div class="phead cpage-head-9">J1</div>
                                 <div class="pbody cpage-body-9">J2</div>
                             </div>
                         </div>
                     </div>
                     <div class="col-12 m-b-30" >
                         <div class="card cpage" style="padding: 30px;">
                             <div class="cpage-0">
                                 <div class="phead cpage-head-0">A1</div>
                                 <div class="pbody cpage-body-0">A2
                             <div class="cpage-1">
                                 <div class="phead cpage-head-1">B1</div>
                                 <div class="pbody cpage-body-1">B2</div>
                             </div>
                             <div class="cpage-2">
                                 <div class="phead cpage-head-2">C1</div>
                                 <div class="pbody cpage-body-2">C2</div>
                             </div>
                             <div class="cpage-3">
                                 <div class="phead cpage-head-3">D1</div>
                                 <div class="pbody cpage-body-3">D2</div>
                             </div>
                             <div class="cpage-4">
                                 <div class="phead cpage-head-4">E1</div>
                                 <div class="pbody cpage-body-4">E2</div>
                             </div>
                             <div class="cpage-5">
                                 <div class="phead cpage-head-5">F1</div>
                                 <div class="pbody cpage-body-5">F2</div>
                             </div>
                             <div class="cpage-6">
                                 <div class="phead cpage-head-6">G1</div>
                                 <div class="pbody cpage-body-6">G2</div>
                             </div>
                             <div class="cpage-7">
                                 <div class="phead cpage-head-7">H1</div>
                                 <div class="pbody cpage-body-7">H2</div>
                             </div>
                             <div class="cpage-8">
                                 <div class="phead cpage-head-8">I1</div>
                                 <div class="pbody cpage-body-8">I2</div>
                             </div>
                             <div class="cpage-9">
                                 <div class="phead cpage-head-9">J1</div>
                                 <div class="pbody cpage-body-9">J2</div>
                             </div>
                         </div>
                     </div>
                     <div class="col-12">
                        <table id="tbnotify">
                            <thead>
                                <tr>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                    <th>x</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                    <td>xxx</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- begin row -->

{% endblock %}

{% block style %}
    <style>
    .btn-name-mdl-create{
        font-size: 14px;
    }
    .chip-user{
        width: 100%;
        text-align: center;
    }
    .bold{
        font-weight: bold !important;
        color:#0d3349;
    }
    .badge{
        background: transparent !important;
    }
    </style>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function (){

        $('.btn-bluehard').click(function() {
            $(".cpage-delete").remove();
            var action = $(this).attr("data-card");
            var description = $(this).attr("data-mdl-name");
            var number = parseInt(action.split('-')[1]);
            console.log(action)
            console.log(description)
            console.log(number)
            for (var i = 0; i < 10; i++) {
                $('.cpage-' + i).hide();
            }
            $('.cpage-' + number).show();
            $('.btn-bluehard').hide();
            $(this).after("<span class='cpage-delete'><b>Información : </b>" + description + "</span>")
            $(this).show();
            $(".cpage-head-" + number).html("<a class='rew-btn' style='color:#8bc34a;cursor: pointer;'>👈Volver</a>");
            $(".cpage-body-" + number).text("");
            $(".rew-btn").click(function(){
                $(".cpage-delete").remove();
                $('.btn-bluehard').show();
                $('.cpage-card').hide();
            });
        });









        ///------------------------------------------- ///
        function getRandomInt(max) {
          return Math.floor(Math.random() * max);
        }
        function getClassFromSeeField(a){
            var response = ""
            if( parseInt(a) == 0){
                response = "background: #d1eaff; border: 2px solid #ffffff; box-shadow: -1px 1px 6px #607d8bd4;"
            }else{
                response = ""
            }
            return response
        }
        var csrfmiddlewaretoken = {'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()}
        function getBoldFromSeeField(a){
            var response = ""
            if( parseInt(a) == 0){
                response = "bold"
            }else{
                response = ""
            }
            return response
        }
        function getPriorityField(a){
            var response = ""
            if( parseInt(a) == 1){
                response = {"type":"Alta", "color":"#00acac"}
            }else{
                if( parseInt(a) == 2){
                    response = {"type":"Media", "color":"#f59c1a"}
                }else{
                    if( parseInt(a) == 3){
                        response = {"type":"Baja", "color":"#7f7f7f"}
                    }else{
                        response = {"type":"Known", "color":"#7f7f7f"}
                    }
                }
            }
            return response
        }
        var tbtype = $('#tbnotify').DataTable({
            destroy: true,
            responsive: true,
            ajax: {
                type: 'POST',
                url: '{% url "notify:datatables_notify" %}',
                data: csrfmiddlewaretoken,
                dataType: 'json',
            },

            columns: [
                {data: 'id', title: 'Id', visible:false,  type: 'string'},
                {data: null, title: 'De', width: '7%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        var classstyle = getClassFromSeeField(data.see)
                        var bg = ["#ffcfcf","#ffb3b3","#d1faff","#b2f7ff","#ccffce","#a1d9a3","#fff3ce","#e7d393","#e0cfff","#b39cdc","#e7d2ca","#b99f96"];
                        var xbg = getRandomInt(12)
                        return '<div class="chip chip-md" style="'+classstyle+'">'+
                                  '<img style="border:1px solid white; background:'+bg[xbg]+'" src="{% static 'img/users/user.png' %}" alt="User">'+
                                  '<span class="chip-user ' + classbold + '">' + data.to +'</span>'
                                '</div>';
                    }
                },
                {data: null, title: 'para', width: '7%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        var classstyle = getClassFromSeeField(data.see)
                        var bg = ["#ffcfcf","#ffb3b3","#d1faff","#b2f7ff","#ccffce","#a1d9a3","#fff3ce","#e7d393","#e0cfff","#b39cdc","#e7d2ca","#b99f96"];
                        var xbg = getRandomInt(12)
                        return '<div class="chip chip-md" style="'+classstyle+'">'+
                                  '<img style="border:1px solid white; background:'+bg[xbg]+'" src="{% static 'img/users/user.png' %}" alt="User">'+
                                  '<span class="chip-user ' + classbold + '">' + data.user +'</span>'
                                '</div>';
                    }
                },
                {data: null, title: 'Tipo', width: '10%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        return '<span class="badge border border-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center" style="color:' + data.colortype + ';border-color:' + data.colortype + ' !important;">' +
                            '<i class="fa fa-circle fs-9px fa-fw me-5px"></i> ' +
                            '<div class="' + classbold + '" style="color:' + data.colortype + ';">' + data.type + '</div>'
                            '</span>';
                    }
                },
                {data: null, title: 'Nombre', width: '18%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        return '<div class="' + classbold + '">' + data.name + '</div>';
                    }
                },
                {data: null, title: 'Contenido', width: '18%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        var xcontent = 0;
                        if((data.description).length > 50){
                            xcontent = (data.description).substring(0, 50) + " ..."
                        }else{
                            xcontent = data.description
                        }
                        return '<div class="' + classbold + '">' + xcontent + '</div>';
                    }
                },
                {data: null, title: 'Prioridad', width: '8%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        var priority = getPriorityField(data.priority)
                        return '<span class="badge border border-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center" style="color:' + priority['color'] + '; border-color:' + priority['color'] + ' !important;">' +
                            '<i class="fa fa-circle fs-9px fa-fw me-5px"></i> ' +
                            '<div class="' + classbold + '" style="color:' + priority["color"] + ';">' + priority["type"] + '</div>'
                            '</span>';
                    }
                },
                {data: null, title: 'Creado', width: '8%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        return '<div class="' + classbold + '">' + data.created + '</div>';
                    }
                },
                {data: null, title: 'Modificado', width: '8%', "render": function ( data, type, row, meta) {
                        var classbold = getBoldFromSeeField(data.see)
                        return '<div class="' + classbold + '">' + data.modified + '</div>';
                    }
                },
                {data: null, title: 'Acciones', width: '32%', "render": function ( data, type, row, meta) {
                    if(data.see == 1){
                        icon = "solar:eye-bold-duotone";
                    }else{
                        icon = "solar:eye-closed-bold-duotone";
                    }
                         return '' +
                            '<a data-id="' + data.id + '" class="tooltipm" style="margin-right: 10px;" data-action="info" data-toggle="tooltip" data-placement="top" title="Ver detalle" style="cursor:pointer">' +
                            '<iconify-icon style="font-size: 30px;cursor: pointer;" icon="' + icon + '"></iconify-icon>' +
                            '</a>'+
                            '<a data-id="' + data.id + '" class="tooltipm" style="margin-right: 10px;" data-action="archive" data-toggle="tooltip" data-placement="top" title="Archivar notificación" style="cursor:pointer">' +
                            '<iconify-icon style="font-size: 30px;cursor:pointer;color:#c40647;" icon="solar:minus-square-bold-duotone"></iconify-icon>' +
                            '</a>'+
                            '<a data-id="' + data.id + '" class="tooltipm" style="margin-right: 10px;" data-action="dearchive" data-toggle="tooltip" data-placement="top" title="Desasrchivar notificación" style="cursor:pointer">' +
                            '<iconify-icon style="font-size: 30px;cursor:pointer;color:#009688;" icon="solar:minimize-square-minimalistic-bold-duotone"></iconify-icon>' +
                            '</a>';
                    }
                }
            ],
            pageLength: 25,
            autoWidth: false,
            columnDefs: {
                "max-width": "50%", targets: [0, 1], className: "truncate",
                checkboxes: {
                    selectRow: true
                }
            },
            fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                if ( aData.see == 0){
                    $('td', nRow).css('background-color', '#f1f2f3' );
                    $('td', nRow).css('border-bottom', '1px solid #b5c3d0' );
                    $('td', nRow).css('border-top', '1px solid #b5c3d0' );
                }else{}
                if(aData.active == 0){
                    $('td', nRow).css('background-color', 'rgb(255 227 227)' );
                    $('td', nRow).css('border-bottom', '1px solid rgb(171 11 47)' );
                    $('td', nRow).css('border-top', '1px solid rgb(171 11 47)' );
                }
            },
            fixedColumns: true,
            bAutoWidth: false,
            iDisplayLength: 25,
            dom: 'Bfrtip',
            select: {
                style: 'multi'
            },
            buttons: [
                {#{extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate boton_data'},#}
                {#{extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file boton_data'},#}
                {#{extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt boton_data'},#}
                {#{extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file'},#}
                {#{extend: 'print', className: 'btn btn-primary glyphicon glyphicon-print boton_data'}#}
            ]
        });
        ///////////////////
        $('#tbnotify tbody').on('click', 'a', function (e) {
            e.preventDefault();
            var elemnets = $(this).attr("data-action");
            switch (elemnets) {
                case "info":
                    xid = $(this).attr("data-id");
                    window.location.href = "{% url 'notify:showid' %}?csrfmiddlewaretoken=" + csrfmiddlewaretoken + "&id="+xid;
                    break;
                case "archive":
                    xid = $(this).attr("data-id");
                    Swal.fire({
                                html: '<iconify-icon class="icon-swal" icon="solar:folder-error-bold-duotone"></iconify-icon><br><br><b><h4>¿Desea archivar la notificación?</h4></b><h6>Si archivas la notificación no la podrán ver en el modulo de mensajes desde Inbox </h6>',
                                icon: "question",
                                customClass: {
                                    confirmButton: 'btn-success',
                                    cancelButton: 'btn-danger',
                                },
                                padding:'50px',
                                confirmButtonText:'Proceder',
                                cancelButtonText:'Cancelar',
                                showCancelButton: true,
                    }).then((result) => {
                      if (result.isConfirmed) {
                        $.post("{% url 'notify:post_change_active' %}",{'csrfmiddlewaretoken':csrfmiddlewaretoken,'id':xid}).done(function (data){
                            if(data.error){
                                Swal.fire({
                                  icon: "error",
                                  title: "Oops...",
                                  customClass: {
                                    confirmButton: 'btn-success',
                                    cancelButton: 'btn-danger',
                                  },
                                  confirmButtonText:'Entendido',
                                  html: "Ocurrio un error : " + data.msj
                                }).then(function(){
                                    $('#tbnotify').DataTable().ajax.reload();
                                });
                            }else{
                                Swal.fire({
                                  icon: "success",
                                  title: "Genial...",
                                  customClass: {
                                    confirmButton: 'color-success',
                                    cancelButton: 'color-cancel',
                                  },
                                  confirmButtonText:'Entendido',
                                  html: data.msj
                                }).then(function(){
                                    $('#tbnotify').DataTable().ajax.reload();
                                });
                            }
                        });
                      }
                    });
                    break;
                case 'dearchive':
                    xid = $(this).attr("data-id");
                    Swal.fire({
                                html: '<iconify-icon class="icon-swal" icon="solar:folder-open-bold-duotone"></iconify-icon><br><br><b><h4>¿Desea desarchivar la notificación?</h4></b><h6>Si desarchivas la notificación ya la podrán ver en el modulo de mensajes desde Inbox </h6>',
                                icon: "question",
                                customClass: {
                                    confirmButton: 'btn-success',
                                    cancelButton: 'btn-danger',
                                },
                                padding:'50px',
                                confirmButtonText:'Proceder',
                                cancelButtonText:'Cancelar',
                                showCancelButton: true,
                    }).then((result) => {
                      if (result.isConfirmed) {
                        $.post("{% url 'notify:post_change_deactive' %}",{'csrfmiddlewaretoken':csrfmiddlewaretoken,'id':xid}).done(function (data){
                            if(data.error){
                                Swal.fire({
                                  icon: "error",
                                  title: "Oops...",
                                  customClass: {
                                    confirmButton: 'btn-success',
                                    cancelButton: 'btn-danger',
                                  },
                                  confirmButtonText:'Entendido',
                                  html: "Ocurrio un error : " + data.msj
                                }).then(function(){
                                    $('#tbnotify').DataTable().ajax.reload();
                                });
                            }else{
                                Swal.fire({
                                  icon: "success",
                                  title: "Genial...",
                                  customClass: {
                                    confirmButton: 'color-success',
                                    cancelButton: 'color-cancel',
                                  },
                                  confirmButtonText:'Entendido',
                                  html: data.msj
                                }).then(function(){
                                    $('#tbnotify').DataTable().ajax.reload();
                                });
                            }
                        });
                      }
                    });
                    break;
            }
        });
        ///////////////////
        {% if active_type_notify %}
            $('#modal-without-animation').modal('show');
            name = $("#btn_notify_1").attr("data-mdl-name");
            $("#name_modal_create").text(name);
            $(".modal-header").css("background","rgb(179 0 63) !important");
            $(".sh-2").hide();
            $(".sh-1").show();
        {% endif %}
        {% if active_notify %}
            $('#modal-without-animation').modal('show');
            name = $("#btn_notify_2").attr("data-mdl-name");
            $("#name_modal_create").text(name);
            $(".modal-header").css("background","rgb(179 0 63) !important");
            $(".sh-1").hide();
            $(".sh-2").show();
        {% endif %}
    })

</script>

{% endblock%}

