{% load static %}


<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%" style="background: linear-gradient(21deg, rgb(203 217 225) 0%, rgb(238 248 254) 35%, rgb(255 255 255) 100%);">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile" style="height: 200px;">
                    <div class="cover with-shadow"></div>
                    <div class="down"><iconify-icon icon="solar:round-arrow-down-bold-duotone"></iconify-icon></div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="{% url 'users:update_profile' %}"><i class="fa fa-cog"></i>Editar Perfil</a></li>
                    <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Ayuda</a></li>

                </ul>
            </li>
        </ul>
        <!-- end sidebar user -->
    
    <!-- begin sidebar nav -->
    <ul class="nav">
        <li class="nav-header">Navigation</li>
        <!-- Panel Delvelop = Use active in class has-sub -->
        <li class="has-sub">
            <a href="javascript:;">
                <a href="{% url 'general_settings:ping' %}">
                    <iconify-icon class="solar-navbar" icon="solar:widget-bold-duotone"></iconify-icon>
                    <span>My Panel</span>
                </a>
            </a>
        </li>
        <!-- End Panel Delvelop -->

        <li class="has-sub">
            <a href="javascript:;">
                <b class="caret"></b>
                <iconify-icon class="solar-navbar" icon="solar:bell-bold-duotone"></iconify-icon>
                <span>Notificaciones</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'notify:panel' %}">
                        <i class="fas fa-key fa-sm"></i>
                        Notificaciones Globales
                    </a>
                </li>
                <li>
                    <a href="{% url 'notify:type' %}">
                        <i class="fas fa-key fa-sm"></i>
                        Tipo Notificación
                    </a>
                </li>
                <li><a href="{% url 'notify:inbox' %}">Inbox</a></li>
                <li><a href="{% url 'notify:important' %}">Importante</a></li>
                <li><a href="{% url 'notify:send' %}">Enviado</a></li>
                <li><a href="{% url 'notify:trash' %}">Basura</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="{% url 'data:' %}">
                <iconify-icon class="solar-navbar" icon="solar:bill-list-bold-duotone"></iconify-icon>
                <span>Data List</span>
            </a>
        </li>
        <li class="has-sub ">
            <a href="#">
                <iconify-icon class="solar-navbar" icon="solar:box-minimalistic-bold-duotone"></iconify-icon>
                <span>New App</span>
            </a>
        </li>

        <style>
            .sidebar-minify-btn:hover, .sidebar-minify-btn:after, .sidebar-minify-btn:active{
                background: red !important;
            }
        </style>
        <!-- begin sidebar minify button -->
        <li class="smin" data-t="0">
            <a href="javascript:;" data-click="sidebar-minify" style="padding: 0px !important;">
                <iconify-icon class="solar-navbar green" style="margin:0px !important;" icon="solar:round-arrow-left-bold-duotone"></iconify-icon>
            </a>
        </li>
        <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
</div>
<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->