{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

        <div class="row justify-content-md-center">
            <div class="col-6 p-4" id="profile-box">

                <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.errors %}
                        <p class="alert alert-danger">{{ form.errors }}</p>
                    {% endif %}

                    <div class="media">
                            {% if profile.picture %}
                            <img src="{{ profile.picture.url }}" class="rounded-circle" width="50" height="50" />
                            {% else %}
                            <img src="{% static 'img/users/user.png' %}" class="rounded-circle" height="50" />
                            {% endif %}

                        <div class="media-body">
                            <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>

                            <p class="ml-4"><input type="file" name="picture" value="{% if form.errors %}{{ form.picture.value }}{% else %}{{ profile.picture }}{% endif %}"></p>

                        </div>
                    </div>

                    {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <p>Imagen Error :</p>{{ error }}
                    </div>
                    {% endfor %}

                    <hr><br>

                        <label>Biografía</label>
                        <textarea class="form-control {% if form.biography.errors %}is-invalid{% endif %}"
                        name="biography">{% if form.errors %}{{ form.biography.value }}{% else %}{{ profile.biography }}{% endif %}
                         </textarea>


                        <div class="invalid-feedback">
                            {% for error in form.biography.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>


                        <label>Teléfono</label>
                        <input
                            class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}"
                            type="text"
                            name="phone_number"
                            placeholder="Telefono"
                            value="{% if form.errors %}{{ form.phone_number.value }}{% else %}{{ profile.phone_number }}{% endif %}"
                        />

                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>


                        <label>Tema</label>
                        <select name="theme" id="id_theme" class="form-control">
                          <option value="{{ profile.theme }}" selected>{{ profile.theme }}</option>
                          <option value="apple">apple</option>
                          <option value="facebook">facebook</option>
                          <option value="default">default</option>
                          <option value="transparent">transparent</option>
                          <option value="material">material</option>
                          <option value="google">google</option>
                        </select>

                        <div class="invalid-feedback">
                            {% for error in form.theme.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>

                    <button type="submit" class="btn btn-dark btn-block mt-5">Actualizar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
